@use "./Overview/overviewStyles.scss";
@use "./QA/qaStyles.scss";
@use "./Related/relatedStyles.scss";
@use "./Reviews/reviewsStyles.scss";

// global styles
// styles that are used by multiple widgets (2 or more widgets)

// base shades for the page elements (background, divs, etc.)
$shade0: #000;
$shade1: #111;
$shade2: #222;
$shade3: #333;
$shade4: #444;
$shade5: #555;
$shade6: #667;
$shade7: #777;
$shade8: #888;
$shade9: #999;
$shadeA: #aaa;
$shadeB: #bbb;
$shadeC: #ccc;
$shadeD: #ddd;
$shadeE: #eee;
$shadeF: #fff;

// call to action colors (use these sparingly, for buttons such as add to cart and add to favorites)
$pop0: #ffcbf2;
$pop1: #f3c4fb;
$pop2: #ECBCFD;
$pop3: #E5B3FE;
$pop4: #E2AFFF;
$pop5: #DEAAFF;
$pop6: #D8BBFF;
$pop7: #D0D1FF;
$pop8: #C8E7FF;
$pop9: #C0FDFF;

// naming convention:
// top-level widget: #overview
// component of a widget: #overview-carousel
// subcomponent of a component: #overview-carousel-thumbnail
// #overview-carousel {

// }

// #overview-carousel-feature {

// }

// #overview-carousel-thumbnail {

// }

body {
    background-color: $shadeF;
    color: $shade0;
    border-color: $shade0;
    text-decoration-color: $shade0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.bodyDark {
  background-color: $shade1 !important;
  text-decoration-color: $shadeF !important;
  color: $shadeF !important;
  border-color: $shadeF !important;
}

#appContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.widget {
  background-color: $shadeE;
}

.widgetDark {
  background-color: $shade3 !important;
}

.borderDark {
  border-color: $shadeF !important;
}

#darkModeToggle {
    border: 1px solid $shadeF;
    padding: 20px;
    width: 200px;
    font-size: 12px;
}

.blurred {
    backdrop-filter: blur(10px);
}

#topNav {
    color: $shadeF;
    font-size: 30px;
    background-color: $shade2;
    padding: 10px;
} 
  
#topMessage {
    color: $shade0;
    padding: 10px;
    text-align: center;
}












#review-meta-box {
  border: 1px solid black;
  border-radius: 20px;
  font-size: x-small;
  color: $shade5;
  width: 185px;
  height: 245px;
  padding: 10px;
  margin: 5px;
  float: left;
}

#review-rating-number {
  font-size: xx-large;
  font-weight: 700;
  margin-left: 5px;
}

#review-rating-bar {
  align-content: center;
  width: 50%;
  height: 5px;
  background-color: $shade9;
  float: left;
  margin: 5px;
  margin-bottom: auto;
}

#metaTextLeft {
  float: left;
  text-decoration: underline;
  cursor: pointer;
}

#metaTextRight {
  font-size: x-small;
}

#meta-char-text {
  position: relative;
  font-size: xx-small;
  top: -4px;
  margin-right: 50%;
}

#review-rating-char {
  width: 50%;
  height: 5px;
  background-color: $shade9;
  margin: 2px;
  margin-bottom: 10px;
}

#review-meta-stars {
  position: relative;
  float: right;
  top: 20px;
  right: 80px;
}

#review-tile-box {
  position: relative;
  border: 1px solid black;
  float: left;
  padding: 5px;
  margin: 5px;
}

#review-tile {
  border: 1px solid black;
  width: 450px;
  margin: 5px;
  padding: 5px;
}

#review-tile-stars {
  float: right;
}