@use "./Overview/overviewStyles.scss";
@use "./QA/qaStyles.scss";
@use "./Related/relatedStyles.scss";
@use "./Reviews/reviewsStyles.scss";

// global styles
// styles that are used by multiple widgets (2 or more widgets)

// base shades for the page elements (background, divs, etc.)
$shade0: #000;
$shade1: #111;
$shade2: #222;
$shade3: #333;
$shade4: #444;
$shade5: #555;
$shade6: #667;
$shade7: #777;
$shade8: #888;
$shade9: #999;
$shadeA: #aaa;
$shadeB: #bbb;
$shadeC: #ccc;
$shadeD: #ddd;
$shadeE: #eee;
$shadeF: #fff;

// call to action colors (use these sparingly, for buttons such as add to cart and add to favorites)
$pop0: #ffcbf2;
$pop1: #f3c4fb;
$pop2: #ECBCFD;
$pop3: #E5B3FE;
$pop4: #E2AFFF;
$pop5: #DEAAFF;
$pop6: #D8BBFF;
$pop7: #D0D1FF;
$pop8: #C8E7FF;
$pop9: #C0FDFF;

body {
    background-color: $shadeF;
    color: $shade0;
    border-color: $shade0;
    text-decoration-color: $shade0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.darkTheme {
    background-color: $shade0;
    text-decoration-color: $shadeF;
    color: $shadeF;
    border-color: $shadeF;
}

#appContainer {
    position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#overview, #qa, #related, #reviews {
    background-color: $shade6;
}

#darkModeToggle {
    border: 1px solid black;
    padding: 20px;
    width: 200px;
}










/* EVERYTHING BELOW HERE IS FOR REFERENCE ONLY */

h1 {

}

p {

}

// naming convention:
// top-level widget: #overview
// component of a widget: #overview-carousel
// subcomponent of a component: #overview-carousel-thumbnail
#overview-carousel {

}

#overview-carousel-feature {
    
}

#overview-carousel-thumbnail {

}

#review-rating-number {
    
}

#review-rating-bar {

}

#review-rating-size {

}

#review-rating-comfort {

}

#review-form {

}

#review-list {

}
