// global styles
// styles that are used by multiple widgets (2 or more widgets)

// base shades for the page elements (background, divs, etc.)
$shade0: #000;
$shade1: #111;
$shade2: #222;
$shade3: #333;
$shade4: #444;
$shade5: #555;
$shade6: #667;
$shade7: #777;
$shade8: #888;
$shade9: #999;
$shadeA: #aaa;
$shadeB: #bbb;
$shadeC: #ccc;
$shadeD: #ddd;
$shadeE: #eee;
$shadeF: #fff;

// call to action colors (use these sparingly, for buttons such as add to cart and add to favorites)
$pop0: #ffcbf2;
$pop1: #f3c4fb;
$pop2: #ECBCFD;
$pop3: #E5B3FE;
$pop4: #E2AFFF;
$pop5: #DEAAFF;
$pop6: #D8BBFF;
$pop7: #D0D1FF;
$pop8: #C8E7FF;
$pop9: #C0FDFF;

#review-meta-box {
  border: 3px solid #888;
  border-radius: 20px;
  font-size: x-small;
  width: 185px;
  height: 245px;
  padding: 10px;
  margin: 5px;
  float: left;
}

#review-rating-number {
  font-size: xx-large;
  font-weight: 700;
  margin-left: 5px;
}

#review-rating-bar {
  align-content: center;
  width: 50%;
  height: 5px;
  background-color: #999;
  float: left;
  margin: 5px;
  margin-bottom: auto;
}

#metaTextLeft {
  float: left;
  text-decoration: underline;
  cursor: pointer;
}

#metaTextRight {
  font-size: x-small;
}

#meta-char-text {
  position: relative;
  font-size: xx-small;
  top: -4px;
  margin-right: 50%;
}

#reviews {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#review-rating-char {
  width: 50%;
  height: 5px;
  background-color: #999;
  margin: 2px;
  margin-bottom: 10px;
}

#review-meta-stars {
  position: relative;
  float: right;
  top: 20px;
  right: 80px;
}

#review-tile-box {
  position: relative;
  float: left;
  padding: 5px;
  margin: 5px;
}

#review-tile-box button {
  background-color: white;
  color: black;
  border: 2px solid #ffcbf2;
  transition-duration: 0.4s;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 10%;
  cursor: pointer;
}

#review-tile-box button:hover {
  background-color: #ffcbf2;
  color: white;
}

#review-tile-box select {
  background-color: white;
  color: black;
  border: 2px solid #ffcbf2;
  transition-duration: 0.4s;
  font-size: 16px;
  padding: 8px 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#review-tile-box select:hover {
  background-color: #ffcbf2;
  color: white;
}

#review-tile {
  border: 3px solid #888;
  border-radius: 15px;
  width: 500px;
  margin: 5px;
  padding: 1em;
}

#review-tile-name {
  position: relative;
  float: right;
  font-size: small;
}

#review-img-modal {
  position: fixed;
  border: 3px solid #888;
  border-radius: 15px;
  background-color: rgb(210, 209, 209);
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 10px;
}

#review-write-form {
  position: fixed;
  border: 3px solid #888;
  border-radius: 15px;
  background-color: rgb(207, 207, 207);
  width: 700px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 10px;
}

#review-write-form button {
  background-color: white;
  color: black;
  border: 2px solid #ffcbf2;
  transition-duration: 0.4s;
  padding: 4px 8px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#review-write-form input[type='submit'] {
  background-color: white;
  color: black;
  border: 2px solid #ffcbf2;
  transition-duration: 0.4s;
  padding: 8px 16px;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}

#review-write-form button:hover {
  background-color: #ffcbf2;
  color: white;
}

#review-write-form input[type='submit']:hover {
  background-color: #ffcbf2;
  color: white;
}

#review-input-rating {
  position: absolute;
  background-color: #e8e7e7;
  border: 3px solid #888;
  border-radius: 15px;
  left: 450px;
  bottom: 50px;
  padding: 10px;
}

#review-image-form {
  position: fixed;
  border: 3px solid #888;
  border-radius: 15px;
  background-color: rgb(207, 207, 207);
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 10px;
}