// global styles
// styles that are used by multiple widgets (2 or more widgets)

// base shades for the page elements (background, divs, etc.)
$shade0: #000;
$shade1: #111;
$shade2: #222;
$shade3: #333;
$shade4: #444;
$shade5: #555;
$shade6: #667;
$shade7: #777;
$shade8: #888;
$shade9: #999;
$shadeA: #aaa;
$shadeB: #bbb;
$shadeC: #ccc;
$shadeD: #ddd;
$shadeE: #eee;
$shadeF: #fff;

// call to action colors (use these sparingly, for buttons such as add to cart and add to favorites)
$pop0: #ffcbf2;
$pop1: #f3c4fb;
$pop2: #ECBCFD;
$pop3: #E5B3FE;
$pop4: #E2AFFF;
$pop5: #DEAAFF;
$pop6: #D8BBFF;
$pop7: #D0D1FF;
$pop8: #C8E7FF;
$pop9: #C0FDFF;

// entire overview widget
#overview {
    display: flex;
    flex-direction: column;
}

// includes carousel and information about the product, but not the long product description
#overview-carouselandinfopanel {
    display: flex;
    flex-direction: row;
}

// entire carousel of images
#overview-carousel {
    width: 70%;
    position: relative; // paired with child (thumbnails) being position: absolute;
    height: auto;
    text-align: center;
}

// main image in carousel
#overview-carousel-featuredimage {
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 500px;
}

// container for thumbnails
#overview-carousel-thumbnails {
    display: flex;
    flex-direction: column;
    position: absolute; // paired with parent (carousel) being position: relative;
    top: 0em;
    left: 0em;
}

// individual thumbnail
.overview-carousel-thumbnail {
    width: auto;
    height: auto;
    max-width: 3em;
    max-height: 3em;
    margin-top: 3em;
    margin-left: 3em;
}

// info about the current product
#overview-infopanel {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

// basic details about the current product
#overview-infopanel-details {
    font-size: 1.25em;
}

// name of the current product
#overview-infopanel-details-name {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

// price of the current product
#overview-infopanel-details-price {
    margin-bottom: 2em;
}

// style picker for choosing the specific style to browse
#overview-infopanel-stylepicker {
    margin-bottom: 2em;
}

// container for style options
#overview-infopanel-stylepicker-styles {
    display: flex;
    flex-direction: row;
}

// individual style options
.overview-infopanel-stylepicker-style {
    border: 1px solid $shade0;
    border-radius: 100000px;
    width: 5em;
    height: 5em;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: x-small;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

// actions the user can take
#overview-infopanel-actions {
    display: flex;
    flex-direction: row;
}

// buttons in the info panel
#overview-infopanel-stylepicker-size, #overview-infopanel-stylepicker-quantity, #overview-infopanel-actions-cart, #overview-infopanel-actions-favorite {
    margin-right: 2em;
    padding: 1em;
    text-align: center;
}

// buttons for size and quantity
#overview-infopanel-stylepicker-sizeandquantity {
    display: flex;
    flex-direction: row;
}

// button for size
#overview-infopanel-stylepicker-size {
    background-color: $pop0;
    border: 1px solid $pop0 !important;
    color: $shadeF;
}

// dark mode for size button
.overview-infopanel-stylepicker-size-dark {
    color: $pop0 !important;
    background: none !important;
}

// quantity button
#overview-infopanel-stylepicker-quantity {
    background-color: $pop3;
    color: $shadeF;
    border: 1px solid $pop3 !important;
}

// dark mode for quantity button
.overview-infopanel-stylepicker-quantity-dark {
    color: $pop3 !important;
    background: none !important;
}

// add to cart button
#overview-infopanel-actions-cart {
    background-color: $pop7;
    color: $shadeF;
    border: 1px solid $pop7 !important;
}

// dark add to cart button
.overview-infopanel-actions-cart-dark {
    color: $pop7 !important;
    background: none !important;
}

// add to favorites button
#overview-infopanel-actions-favorite {
    margin-left: 0px; // this left-margin needs to be 0 because the element to the left of this element has a right-margin of 20px
    background-color: $pop9;
    color: $shadeF;
    border: 1px solid $pop9 !important;
}

// dark add to favorites button
.overview-infopanel-actions-favorite-dark {
    margin-left: 0px; // this left-margin needs to be 0 because the element to the left of this element has a right-margin of 20px
    color: $pop9 !important;
    background: none !important;
}

// long description of the product, below the carousel and info panel
#overview-longdescription {
    width: 100%;
    padding: 2em;
    text-align: center;
}