// global styles
// styles that are used by multiple widgets (2 or more widgets)

// base shades for the page elements (background, divs, etc.)
$shade0: #000;
$shade1: #111;
$shade2: #222;
$shade3: #333;
$shade4: #444;
$shade5: #555;
$shade6: #667;
$shade7: #777;
$shade8: #888;
$shade9: #999;
$shadeA: #aaa;
$shadeB: #bbb;
$shadeC: #ccc;
$shadeD: #ddd;
$shadeE: #eee;
$shadeF: #fff;

// call to action colors (use these sparingly, for buttons such as add to cart and add to favorites)
$pop0: #ffcbf2;
$pop1: #f3c4fb;
$pop2: #ECBCFD;
$pop3: #E5B3FE;
$pop4: #E2AFFF;
$pop5: #DEAAFF;
$pop6: #D8BBFF;
$pop7: #D0D1FF;
$pop8: #C8E7FF;
$pop9: #C0FDFF;

#overview {
    display: flex;
    flex-direction: column;
}

#overview-carouselandinfopanel {
    display: flex;
    flex-direction: row;
}

#overview-carousel {
    width: 60%;
    border: 1px solid black;
    position: relative; // paired with child (thumbnail) being position: absolute;
}

#overview-carousel-featuredimage {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.overview-carousel-thumbnailimage {
    width: 50px;
    height: 50px;
    position: absolute; // paired with parent (carousel) being position: relative;
    top: 20px;
    left: 20px;
    border: 1px solid black;
}

#overview-infopanel {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

#overview-infopanel-details {
    font-size: 1.25em;
}

#overview-infopanel-details-name {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

#overview-infopanel-details-price {
    margin-bottom: 2em;
}

#overview-infopanel-stylepicker {
    margin-bottom: 2em;
}

.overview-infopanel-stylepicker-option {
    border: 1px solid $shade0;
    border-radius: 100000px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: small;
    text-align: center;
}

#overview-infopanel-actions {
    display: flex;
    flex-direction: row;
}

#overview-infopanel-actions-cart, #overview-infopanel-actions-favorite {
    border: 1px solid black;
    margin-right: 2em;
    padding: 1em;
    text-align: center;
}

#overview-infopanel-actions-cart {
    
}

#overview-infopanel-actions-favorite {
    margin-left: 0px; // this left-margin needs to be 0 because the element to the left of this element has a right-margin of 20px
}

#overview-longdescription {
    width: 100%;
    padding: 2em;
}