// global styles
// styles that are used by multiple widgets (2 or more widgets)

// base shades for the page elements (background, divs, etc.)
$shade0: #000;
$shade1: #111;
$shade2: #222;
$shade3: #333;
$shade4: #444;
$shade5: #555;
$shade6: #667;
$shade7: #777;
$shade8: #888;
$shade9: #999;
$shadeA: #aaa;
$shadeB: #bbb;
$shadeC: #ccc;
$shadeD: #ddd;
$shadeE: #eee;
$shadeF: #fff;

// call to action colors (use these sparingly, for buttons such as add to cart and add to favorites)
$pop0: #ffcbf2;
$pop1: #f3c4fb;
$pop2: #ECBCFD;
$pop3: #E5B3FE;
$pop4: #E2AFFF;
$pop5: #DEAAFF;
$pop6: #D8BBFF;
$pop7: #D0D1FF;
$pop8: #C8E7FF;
$pop9: #C0FDFF;

#qa {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#qa-search-container {
  position: relative;
  display: inline;
}

#qa-search {
  width: calc(100% - 16px);
  padding: 5px;
  height: 30px;
  border: 3px solid #ffcbf2;
  outline: none;
  font-size: 18px;
}

.qa-search-dark {
  background-color: #555;
  border-color: #C0FDFF !important;
}

.qa-search-dark::placeholder {
  color: #000;
}

#qa-search-button {
  position: absolute;
  right: 4px;
  margin-top: 9px;
}

#qa-search-clear {
  position: absolute;
  right: 14px;
  bottom: 2px;
  width: 15px;
  height: 15px;
  opacity: 0.7;
  cursor: pointer;
}

#qa-search-clear:hover {
  opacity: 1;
}

#qa-search-clear:before, #qa-search-clear:after {
  position: absolute;
  content: '';
  right: 6px;
  height: 15px;
  width: 2px;
  background-color: #222;
}

.qa-search-clear-dark:before, .qa-search-clear-dark:after {
  background-color: #fff !important;
}

#qa-search-clear:before {
  transform: rotate(45deg);
}

#qa-search-clear:after {
  transform: rotate(-45deg);
}

.qa-no-questions {
  text-align: center;
  border: 3px solid #888;
  border-radius: 25px;
}

#qa-questions {
  max-height: 100vh;
  overflow: auto;
}

.qa-question-container {
  border-bottom: 3px solid #ffcbf2;
}

.qa-question-container-dark {
  border-bottom: 3px solid #C0FDFF !important;
}

.qa-question-header {
  padding: 10px;
}

.qa-question-tag {
  display: inline;
}

.qa-question-body {
  margin-left: 10px;
}

.qa-question-actions {
  float: right;
  font-size: 14px;
  padding-top: 3.5px;
}

.qa-answer-container {
  display: flex;
  border-top: 1px dashed #bbb;
  padding: 8px;
}

.qa-answer-tag {
  position: relative;
  text-align: center;
  flex: 1;
  top: -13.5px;
}

.qa-answers {
  background-color: #eee;
  border: #ccc solid;
  border-radius: 10px;
  max-height: 50vh;
  overflow: auto;
  flex: 19;
  padding: 0px 8px 8px 8px;
}

.qa-answers-dark {
  background-color: #333;
}

.qa-answer {
  padding: 5px 0px 5px 0px;
  border-bottom: ridge;
}

.qa-answer-photos {
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.qa-answer-photos:hover {
  box-shadow: 0 0 2px 2px #ffcbf2;
  opacity: 0.8;
}

.qa-answer-photos-dark:hover {
  box-shadow: 0 0 2px 2px #C0FDFF !important;
  opacity: 0.6;
}

.qa-answer-actions {
  font-size: 12px;
  margin-top: 5px;
}

#qa-photo-modal {
  position: fixed;
  border: 5px solid #111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
}

.qa-modal {
  border: 3px solid #111;
  background: #ccc;
  position: fixed;
  width: 50%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  overflow: auto;
}

.qa-modal-dark {
  border: 3px solid #666;
  background: #222;
  position: fixed;
  width: 50%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  overflow: auto;
}

.qa-close, .qa-close-dark {
  position: fixed;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  z-index: 9999;
  cursor: pointer;
}

.qa-close:hover, .qa-close-dark:hover {
  opacity: 1;
}

.qa-close:before, .qa-close:after {
  position: fixed;
  right: 47px;
  content: '';
  height: 32px;
  width: 2px;
  background-color: #222;
}

.qa-close-dark:before, .qa-close-dark:after {
  position: fixed;
  right: 47px;
  content: '';
  height: 32px;
  width: 2px;
  background-color: #fff;
}

.qa-close:before, .qa-close-dark:before {
  transform: rotate(45deg);
}

.qa-close:after, .qa-close-dark:after {
  transform: rotate(-45deg);
}

.qa-modal-title {
  text-align: center;
}

.qa-modal-header {
  margin: 30px !important;
}

.qa-modal-input {
  resize: none;
  min-width: 250px;
}

.qa-modal-input-dark {
  resize: none;
  min-width: 250px;
  background-color: #555;
}

.qa-modal-input-dark::placeholder {
  color: #000;
}

.qa-modal-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.qa-modal-photos {
  display: inline-block;
}

#qa-button-container {
  text-align: center;
}

.qa-button {
  background-color: white;
  color: black;
  border: 2px solid #ffcbf2;
  transition-duration: 0.4s;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.qa-button:hover {
  background-color: #ffcbf2;
  color: white;
}

.qa-button-dark {
  border-color: #C0FDFF !important;
  background-color: #555 !important;
}

.qa-button-dark:hover {
  background-color: #666 !important;
  color: #C0FDFF !important;
}